<table>
  <tr>
    <th>Name</th>
    <th>Bunk</th>
    <th>White</th>
    <th>Orange</th>
    <th>Blue</th>
    <th>Paid/Owed</th>
    <th>Received</th>
    <th style = "background-color:#ffffff"></th>
    <th style = "background-color:#ffffff"></th>
    <th style = "background-color:#ffffff"></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.name %></td>
    <td><%= order.bunk %></td>
    <td><%= order.white %></td>
    <td><%= order.orange %></td>
    <td><%= order.blue %></td>
    <td id = "<%= unless order.paid;'notpaid' else 'paid' end%>">
    <%= if order.paid
    "$#{order.price}"
    else
    "Not Paid ($#{order.price})" end%></td>
    <%received_word = order.received ?  "Yes" : 'No'%>
    <td><%= link_to received_word, order_path(order, :order => { :received => !order.received}),:method => :put %></td>
    <td><%= link_to 'View', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Delete', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>