<table class='display'>
  <tr>
    <th class='display'>Name</th>
    <th class='display'>Bunk</th>
    <th class='display'>White</th>
    <th class='display'>Orange</th>
    <th class='display'>Blue</th>
    <th class='display'>Paid/Owed</th>
    <th class='display'>Received</th>
    <th class='display' id = "links"></th>
    <th class='display' id = "links"></th>
    <th class='display' id = "links"></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td class='display'><%= order.name %></td>
    <td class='display'><%= order.bunk %></td>
    <td class='display'><%= order.white %></td>
    <td class='display'><%= order.orange %></td>
    <td class='display'><%= order.blue %></td>
    <td class='display' id = "<%= order.paid ? 'paid' : 'notpaid'%>">
    <%= if order.paid
    "$#{order.price}"
    else
    "Not Paid ($#{order.price})" end%></td>
    <%received_word = order.received ?  "Yes" : 'No'%>
    <td><%= link_to received_word, order_path(order, :order => { :received => !order.received}),:method => :put %></td>
    <td><%= link_to 'View', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Delete', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>