<%= form_for(@order, :html => {class: "form-horizontal"}) do |f| %>
<%= render 'shared/error_messages' %>
	<div class="control-group">
	<%= f.label :name, "Name", class: "control-label"%>
	<div class="controls">
	<%= f.text_field :name, {placeholder: ''}%>
	</div>
	</div>

	<div class="control-group">
	<%= f.label :bunk, "Bunk", class: "control-label"%>
	<div class="controls">
	<%= f.text_field :bunk, {placeholder: '' }%>
	</div>
	</div>

	<div class="control-group">
	<% @order.white ||= 0 %>
	<%= f.label :white, "Discs", class: "control-label"%>
	<div class="controls">
	<div class="input-prepend">
    <span class="add-on">White:</span>
	<%=f.number_field :white, {value: @order.white, min: 0, step: 1} %>
	</div>
	</div>
	</div>

	<div class="control-group">
	<% @order.orange ||= 0 %>
	<div class="controls">
	<div class="input-prepend">
    <span class="add-on">Orange:</span>
	<%=f.number_field :orange, {value: @order.orange, min: 0, step: 1} %>
	</div>
	</div>
	</div>

	<div class="control-group">
	<% @order.blue ||= 0 %>
	<div class="controls">
	<div class="input-prepend">
    <span class="add-on">Blue:</span>
	<%=f.number_field :blue, {value: @order.blue, min: 0, step: 1} %>
	</div>
	</div>
	</div>

	<div class="control-group">
	<% paid_cache = @order.paid.nil? || @order.paid %>
	<%= f.label :paid, "Paid", class: "control-label"%>
	<div class="controls">
	<%= f.check_box :paid, {checked: paid_cache} %>
	</div>
	</div>

	<div class="control-group"><div class="controls">
	<%= submit_tag("Save changes", {:class => "btn btn-primary"})%>
	<%= link_to "Back", root_path, class: "btn"%>
	</div></div>
<% end %>