    <h1>All Orders</h1>

<table class = "table table-border table-hover">
  <tr>
    <th><%= link_to(params.merge({action: 'index', sort: 'name', reverse: !(params[:reverse]=="true")})) do %>
        Name <i class=<%= if params[:sort]=='name' && !params[:reverse].nil? ; params[:reverse]=='true' ? "icon-chevron-up" : "icon-chevron-down" end%> ></i><%end%></th>
    <th><%= link_to(params.merge({action: 'index', sort: 'bunk', reverse: !(params[:reverse]=="true")})) do %>
        Bunk <i class=<%= if params[:sort]=='bunk' && !params[:reverse].nil? ; params[:reverse]=='true' ? "icon-chevron-up" : "icon-chevron-down" end%> ></i><%end%></th>
    <th>White</th>
    <th>Orange</th>
    <th>Blue</th>
    <th><%= link_to(params.merge({action: 'index', sort: 'paid', reverse: !(params[:reverse]=="true")})) do %>
        Paid/Due <i class=<%= if params[:sort]=='paid' && !params[:reverse].nil? ; params[:reverse]=='true' ? "icon-chevron-up" : "icon-chevron-down" end%> ></i><%end%></th>
    <th><%= link_to(params.merge({action: 'index', sort: 'received', reverse: !(params[:reverse]=="true")})) do %>
        Received <i class=<%= if params[:sort]=='received' && !params[:reverse].nil? ; params[:reverse]=='true' ? "icon-chevron-up" : "icon-chevron-down" end%> ></i><%end%></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.name %></td>
    <td><%= order.bunk %></td>
    <td><%= order.white %></td>
    <td><%= order.orange %></td>
    <td><%= order.blue %></td>
    <td id = "paid">
    <%= form_for order do |f| %>
        <%= f.hidden_field :paid, value: !order.paid %>
        <%= f.submit "$"+order.price.to_s, class: "btn btn-" + (order.paid ? "success" : "danger"), index: true %>
    <% end %>
    </td>
    <%old_params = params || {}%>
    <td id = "received">
    <%= form_for order do |f| %>
        <%= f.hidden_field :received, value: !order.received %>
        <%= f.submit (order.received ?  "Yes" : 'No'), class: "btn btn-" + (order.received ? "success" : "danger") +  (!order.paid ? " disabled" : ""), index: true%>
    <% end %>
    </td>
    <td>
        <div class="btn-group">
    <%= link_to(order, class: "btn btn-primary") do%>
        <span class="glyphicon glyphicon-user"></span> View
    <% end %>
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><%= link_to(edit_order_path(order)) do %>
            <span class="glyphicon glyphicon-pencil"></span> Edit
        <% end %></li>
        <li><%= link_to(order, method: :delete, data: { confirm: 'Are you sure?' }) do%>
            <span class="glyphicon glyphicon-trash"></span> Delete
        <% end %></li>
  </ul>
</div>
    </td>
<% end %>
</table>
<%= link_to "New Order", new_order_path, class: "btn btn-primary"%>
