<% provide(:title, 'Search') %>
<h1>Find An Order</h1>

<table>
<%= form_tag("/index", :method => "post") do %>
  <tr><td class = "show_bold" style = "width: 30"><%= label_tag(:name, "Name:") %></td>
  <td class = "show"><%= text_field_tag(:name) %></td></tr>
  <tr><td class = "show_bold" style = "width: 30"><%= label_tag(:bunk, "Bunk:") %></td>
  <td class = "show"><%= text_field_tag(:bunk) %><td></tr>
  </table>

  <div>
  <%= label_tag(:needy, "Search only for people that haven't yet received:", id: 'needy') %>
  <%= check_box_tag(:needy) %><br>
</div>

  <%= submit_tag("Search", {:class => "btn btn-primary"}) %>
<% end %>


<%= link_to 'Back', root_path %>