<% provide(:title, 'Search') %>
<h1>Find An Order</h1>

<dl>
<%= form_tag("/index", :method => "post", class: "form-horizontal") do %>
<div class="control-group">
  <dt><%= label_tag(:name, "Name:", class: "control-label") %></dt>
	<div class="controls">
  <dd><%= text_field_tag(:name, nil, class: "search-query") %></dd>
	</div>
</div>

<span class="control-group">
  <dt><%= label_tag(:bunk, "Bunk:", class: "control-label") %></dt>
  <div class="controls">
  <dd><%= text_field_tag(:bunk, nil, class: "search-query")%><dd>
  </div>
</span> 

<div class="control-group">
	<div class="controls">
  <%= label_tag(:needy, "Not received only", id: 'needy') %>
	
  <%= check_box_tag(:needy) %>

  <br>
  <%= submit_tag("Search", {:class => "btn btn-primary"}) %>
  <%= link_to 'Back', root_path %>
  	</div>
</div>
<% end %>
</dl>

