<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @order.name %>
</p>

<p>
  <b>Bunk:</b>
  <%= @order.bunk %>
</p>

<p>
  <b>White:</b>
  <%= @order.white %>
</p>

<p>
  <b>Orange:</b>
  <%= @order.orange %>
</p>

<p>
  <b>Blue:</b>
  <%= @order.blue %>
</p>
<p>
  <b>Paid:</b>
  <%= if @order.paid
    "$#{(@order.white + @order.blue + @order.orange)*8}"
    else
    "None" end%>
</p>


<%= link_to 'Edit', edit_order_path(@order) %>
<%= link_to 'Back', orders_path %>
