<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @order.name %>
</p>

<p>
  <b>Bunk:</b>
  <%= @order.bunk %>
</p>

<p>
  <b>White:</b>
  <%= @order.white %>
</p>

<p>
  <b>Orange:</b>
  <%= @order.orange %>
</p>

<p>
  <b>Blue:</b>
  <%= @order.blue %>
</p>
<p>
  <b>Paid:</b>
  <span id = "<%= unless @order.paid;'notpaid' else 'paid' end%>">
    <%= if @order.paid
          "$#{@order.price}"
        else
          "Not Paid ($#{@order.price})" end%>
  </span>
</p>

<p>
  <b>Received:</b>
  <span id = "<%= unless @order.received;'notpaid' else 'paid' end%>">
  <%= if @order.received 
        "ALREADY RECEIVED"
      else
        "Not Received" end%>
  </span>
</p>


<%= link_to "Received", order_path(@order, :order => { :received => !@order.received}),:method => :put %>
<%= link_to 'Edit', edit_order_path(@order) %>
<%= link_to 'Back', root_path %>
