<p id="notice"><%= notice %></tr>

<table>
<tr class = 'show'>
  <td class = 'show_bold'>Name:</td>
  <td class = 'show'><%= @order.name %></td>
</tr>

<tr class = 'show'>
  <td class = 'show_bold'>Bunk:</td>
  <td class = 'show'><%= @order.bunk %></td>
</tr>

<tr class = 'show'>
  <td class = 'show_bold'>White:</td>
  <td class = 'show'><%= @order.white %></td>
</tr>

<tr class = 'show'>
  <td class = 'show_bold'>Orange:</td>
  <td class = 'show'><%= @order.orange %></td>
</tr>

<tr class = 'show'>
  <td class = 'show_bold'>Blue:</td>
  <td class = 'show'><%= @order.blue %></td>
</tr>
<tr class = 'show'>
  <td class = 'show_bold'>Paid:</td>
  <td class = 'show'>
  <span id = "<%= unless @order.paid;'notpaid' else 'paid' end%>">
    <%= if @order.paid
          "$#{@order.price}"
        else
          "Not Paid ($#{@order.price})" end%>
  </span>
</td>
</tr>

<tr class = 'show'>
  <td class = 'show_bold'>Received:</td>
  <td class = 'show'>
  <span id = "<%= unless @order.received;'notpaid' else 'paid' end%>">
  <%= if @order.received 
        "ALREADY RECEIVED"
      else
        "Not Received" end%>
  </span>
  <%= link_to "change", order_path(@order, :order => { :received => !@order.received}),:metdod => :put %>
</td>
</tr>
</table>


<%= link_to 'Edit', edit_order_path(@order) %>
<%= link_to 'Back', root_path %>
