    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%if signed_in? %>
          <%= link_to "disc orders [#{current_user.name}]", root_path, id: "logo" %>
          <% else %>
          <%= link_to "disc orders", root_path, id: "logo" %>
          <% end %>
          <nav>
            <ul class="nav pull-right">
              <%if signed_in? %>
              <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
              <li><%= link_to "All Users", users_path %></li>
              <% else %>
              <li><%= link_to "Sign in", signin_path %></li>
              <% end %>
              <li><%= link_to "All Orders", root_path, sort: nil, reverse: nil %></li>
              <li><%= link_to "New Order", new_order_path%>
              <li><%= link_to "Totals", action:'total', controller: 'orders' %></li>
              <li><%= link_to "Search", search_path %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>